[requires]
python_version = "3.6"

[packages]

[dev-packages]
mypy = "==0.530"
pycodestyle = { git = "git@github.com:PyCQA/pycodestyle", ref = "4510fa0", editable = true }
flake8 = "==3.4.1"
python_project = { path = ".", editable = true }
